@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Macondo');

html, body
{
    margin: 0px 0px;
    padding: 0px 0px;
    background-image: url('img/bg.png');
    background-size: 100% 100%;
}

.center
{
    display: flex;
}

.center-x
{
    justify-content: center;
}

.center-y
{
    align-items: center;
}

.margin-main
{
    margin: 0px 64px;
}

.navigation
{
    background-color: #646464;
    height: 128px;
}

.logo
{
    font-family: 'Macondo', cursive;
    font-size: 32px;
    transition: color 1s ease-in-out;
    color: #FF9900;
}

.red .logo
{
    color: #FF0000;
}

.blue .logo
{
    color: #0096D2;
}

.navigation .links
{
    margin-left: auto;
}
